<aside class="sidebar fixed">
  <div class="brand-logo">
    <div id="logo">
      <img src="assets/img/logo.png" alt="Personal Plus">
    </div>
    Personal Plus
  </div>
  <div class="user-logged-in">
    <div class="content">
      <div class="user-name">Дарина Вершина </div>
      <div class="user-email">d.vershina@company.co</div>
      <div class="user-actions">
        <a class="m-r-5" href="">налаштування</a> <a href="">вийти</a>
      </div>
    </div>
  </div>
  <ul class="menu-links" ng-cloak>
    <a menu-link ui-sref="dashboard" icon="md md-blur-on">Головна</a>
    <a menu-link ui-sref="candidates" icon="md md-account-box">Претенденти</a>
    <a menu-link ui-sref="interviews" icon="md md-assignment">Співбесіди</a>
    <!--@grep dist-->
  </ul>
</aside>
